{% extends 'partial/base.html' %}
{% block title %} ADD ENTRY PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mt-5">
            <div class="col md-6 offset-md-3">
                 <div class="border bg-white p-3">
                    <h3>Add Entry</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-success" type="submit" value="Add"  />
                    </form>
                </div>
        </div>
    </div>
</div>

{% endblock %}

