<html>
  <table border="1" cellspacing="2" cellpadding="2">
    <thead class="bg-info text-white">
      <tr>
        <!-- <th scope="col">No</th> -->
        <th scope="col">Id</th> 
        <!-- <th scope="col">Date</th> -->
        <th scope="col">Subject</th>
        <th scope="col">Department</th>
        <th scope="col">Remark</th>
        <th scope="col">Section</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <!-- <th scope="row">{{ item.id }}</th> -->
        <td>{{ entry.id }}</td>
        <!-- <td>{{ entry.date }}</td> -->
        <td>{{ entry.subject }}</td>
        <td>{{ entry.department }}</td>
        <td>{{ entry.remark }}</td>
        <td>{{ entry.section }}</td>
        <td>
          {% if entry.status == False and entry.is_rejected == False %}
          <h5>Pending</h5>
          {% elif entry.status == True and entry.is_rejected == False %}
          <h5>Approved</h5>
          {% else %}
          <h5>Rejected</h5>
          </h5>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <hr>
    </tbody>
  </table>
</html>