{% extends 'partial/base.html' %}
{% block title %} PRODUCT PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partial/topnav.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
<!-- tables -->
<!-- <div class="container"> -->
    <!-- <div class="row my-4">
        <div class="col-md-4">
          {% for message in messages %}
          {% if message %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
          {% endif %}
          {% endfor %}
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                     {{ form|crispy }}
                    <input class="btn btn-success btn-block" type="submit" value="Add Products">
                </form>
            </div>
        </div> -->
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-11" style="margin-left: 15px;">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- <form class="form-inline my-2 my-lg-0">
              <select name= "q" class="form-control form-control-lg">
                <option>Pricipal</option>
                <option>Academic</option>
                <option>CNC</option>
              </select>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
          </div>
          <div class="col-md-0">
            <a class="btn btn-info btn-sm" style="float:right" href="{% url 'dashboard-entry-add_entry' %}">+ Add Entry</a>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:15px;" >
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <!-- <th scope="col">No</th> -->
                    <th scope="col">Id</th> 
                    <!-- <th scope="col">Date</th> -->
                    <th scope="col">Subject</th>
                    <th scope="col">Department</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Section</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for entry in entries %}
                  <tr>
                    <!-- <th scope="row">{{ item.id }}</th> -->
                    <td>{{ entry.id }}</td>
                    <!-- <td>{{ entry.date }}</td> -->
                    <td>{{ entry.subject }}</td>
                    <td>{{ entry.department }}</td>
                    <td>{{ entry.remark }}</td>
                    <td>{{ entry.section }}</td>
                    <td>
                      {% if entry.status == False and entry.is_rejected == False %}
                      <h5><span class="badge badge-info">Pending</span></h5>
                      {% elif entry.status == True and entry.is_rejected == False %}
                      <h5><span class="badge badge-success">Approved</span> </h5>
                      {% else %}
                      <h5><span class="badge badge-danger">Rejected</span> </h5>
                      </h5>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                  <hr>
                </tbody>
              </table>
              <div class="text-right">
                <a class="btn btn-info text-right" href="{% url 'report_pdf' %}">Product List<span class="sr-only">(current)</span></a>
              </div> 
        </div>
    </div>
<!-- </div> -->
{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}
{% endblock %}