<!-- {% extends 'partial/base.html' %}
{% block title %} HOME PAGE {% endblock %}
{% block content %}

{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partial/topnav.html' %}

    <div class="row mt-4 p-3">
        <table class="table bg-white">
            <thead>
            <tr class="bg-info">
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
      </div>

{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}
{% endblock %} -->