<!-- {% extends 'partial/base.html' %}
{% block title %} ORDER PAGE {% endblock %}

{% block content %}
{% include 'partial/topnav.html' %} -->

<!-- tables -->
<!-- <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">Product</th> 
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Order by</th>
                    <th scope="col">Order Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td>{{ order.product }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.order_quantity }}</td>
                    <td> 
                        {{order.staff}}
                    </td>
                    <td>{{ order.date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div> -->



<!--end tables -->

{% endblock %}