<!-- {% load crispy_forms_tags %} -->
<!-- <div class="container">
        <div class="row mt-4"> -->
            <!-- <div class="col-md-4">
                <div class="card">
                    {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endif %}
                    {% endfor %}
                    <div class="card-header">
                        Make Order
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-info btn-block" value="Request" />
                        </form>
                    </div>
                </div>
            </div> -->
            <div class="col-md-3" style="margin-top:20px;">
               <form class="form-inline my-2 my-lg-0">
              <select style="margin-right: 20px;" name= "q" class="form-control form-control-lg">
                <option>Principal</option>
                <option>Academic</option>
                <option>CNC</option>
                <option>Dicipline</option>
                <option>Library</option>
                <option>Scholarship</option>
                <option>Superintendent</option>
                <option>Accounts</option> 
              </select>
              <button class="btn btn-outline-success my-2 my-sm-0" type=" ">Filter</button>
            </form>
            </div>
            <div class="col-md-12" style="margin-top:15px;" >
                <table class="table bg-white">
                    <thead class="bg-info text-white">
                      <tr>
                        <!-- <th scope="col">No</th> -->
                        <th scope="col">Id</th> 
                        <th scope="col">subject</th>
                        <th scope="col">Department</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Section</th>
                        <th scope="col">Status</th>
                        <!-- <th scope="col">staff</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      {% for entry in entries %}
                      <tr>
                        <!-- <th scope="row">{{ item.id }}</th> -->
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.subject }}</td>
                        <td>{{ entry.department }}</td>
                        <td>{{ entry.remark }}</td>
                        <td>{{ entry.section }}</td>
                        <td>
                          <form method="POST" action="{% url 'dashboard-entry-approved' entry.id %}">
                            {% csrf_token %}
                            {{ form |crispy }}
                            {% if entry.status == False and entry.is_rejected == False %}
                            <button class="btn btn-success" type="submit" name="approve">Approve</button>
                            <button class="btn btn-danger" type="submit" name="reject">Reject</button>
                            {% elif entry.status == False and entry.is_rejected == True %}
                            <h5><span class="badge badge-danger">Rejected</span></h5>
                            {% else %}
                            <h5><spa class="badge badge-success">Approved</span></h5>

                            {% endif %}
                          </form>

                          
                          <!-- <form> -->
                            <!-- {% csrf_token %}  -->
                            <!-- {{ form2  }} -->
                            <!-- <button class="btn btn-outline-success my-2 my-sm-0" name type="submit">Approve</button> -->
                           
                            <!-- <input type="submit" value="Approve" /> -->
                            
                          <!-- </form> -->
                          <!-- <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Forward</button> -->
                        </td>
                        <!-- <td>{{ request.user.username }}</td> -->
                      </tr>
                      {% endfor %}
                      <hr>
                      <!-- {% if obj.tatus_waiting == True %}
                      <p>Waiting for Reply.</p>
                      {% else %}
                      <p>Ticket solved.</p>
                      {% endif %} -->
                    </tbody>
                  </table>
            </div>
        <!-- </div>
</div> -->
  <!-- {% if order.staff == user %} -->
   <!-- {% endif %} -->