<!-- {% extends 'partial/base.html' %}
{% block title %} STAFF PAGE {% endblock %}

{% block content %}
{% include 'partial/topnav.html'%} -->

<!-- tables -->
<!-- <div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                  </tr>
                </thead>
                <tbody>
                  {% for work in workers %}
                  <tr>
                    <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard-staff-detail' work.id %}">view</a></th>
                    <td>{{ work.username }}</td>
                    <td>{{ work.email }}</td>
                    <td>{{ work.profile.phone }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div> -->

<!--end tables -->
{% endblock %}