{% extends 'partial/base.html' %}
{% block title %} STAFF PAGE {% endblock %}

{% block content %}
{% include 'partial/topnav.html'%}

<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Profile
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4">Profile Information</span>
                            <!-- <a class="btn btn-info btn-sm float-right" href="{% url 'user-profile-update' %}">Edit</a> -->
                            <hr>
                            <table class="table bg-white table-borderless">
                                <tbody>
                                  <tr>
                                    <th scope="row">Name</th>
                                    <td>{{workers.username}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Email</th>
                                    <td>{{workers.email}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Phone</th>
                                    <td>{{workers.profile.phone}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Address</th>
                                    <td>{{workers.profile.address}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        <div class="col md-4">
                            <img class="img-thumbnail" src="{{ workers.profile.image.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}