	<!-- Topside -->

	<!-- <div class="container"> -->
		<!-- <div class="row mt-4 p-3">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header bg-info text-white">
						information
					</div>
					<div class="card-body">
						<marquee behavior="" direction="">
							<h3 class="my-3">This is the information for you</h3>
						</marquee>
					</div>
				</div>
			</div> -->
			<div class="col-md-12">
				<div class="card">
					<!-- <div class="card-header bg-info text-white">
						STATICS
					</div> -->
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<!-- <a class="text-decoration-none text-dark" href="{% url 'dashboard-staff' %}"> -->
									<div class="card my-card shadow text-center p-3">
										<h4>Total Requests <i class="fa fa-user"></i></h4>
										<h3>{{ entries_count }}</h3>
									</div>
								<!-- </a> -->
							</div>
							<div class="col-md-3">
								<!-- <a class="text-decoration-none text-dark" href="#"> -->
									<div class="card my-card shadow text-center p-3">
										<h4>Pending Requests <i class="fa fa-user"></i></h4>
										<h3>{{ pending_count }}</h3>
									</div>
								<!-- </a> -->
							</div>
							<div class="col-md-3">
								<!-- <a class="text-decoration-none text-dark" href="#"> -->
									<div class="card my-card shadow text-center p-3">
										<h4>Approved Requests <i class="fa fa-user"></i></h4>
										<h3>{{approved_count}}</h3>
									</div>
								<!-- </a> -->
							</div>
							<div class="col-md-3">
								<!-- <a class="text-decoration-none text-dark" href="#"> -->
									<div class="card my-card shadow text-center p-3">
										<h4>Rejected Requests <i class="fa fa-user"></i></h4>
										<h3>{{rejected_count}}</h3>
									</div>
								<!-- </a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->

	<!-- topside -->