{% extends 'partial/base.html' %}
{% block title %} LOGIN PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mt-5 ">
        <div class="col-md-6 offset-md-3">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{message.tags }}">
                {{message   }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="border bg-white p-3">
                <h3>LOGIN PAGE</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="LOGIN" class="btn btn-success"/>
                    <a class = "mx-4" href="{% url 'password_reset' %}">Forget Password</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}